.BookList-item{
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}
.BookList-wrap{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.img{
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    flex-shrink: 0;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.info{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
