.Header-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.Header-content{
    font-size: 54px;
    font-weight: 500;
}

.Header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.btn-back{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.btn-sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: gray;
    height: 30px;
    width: 100px;
    border: 1px solid gray;
}