extends ../layouts/main_layout
block content
    h1(class="ml-2") Edit User
    if errors
        each err in errors
            .alert.alert-danger= err
    form(action="/users/save" method="POST" class="form-inline")
        label(class="ml-2") Name
        input(type="text" name="name" value=users.name class="form-control ml-2")
        button(class="btn btn-success ml-2") Save