extends ../layouts/main_layout
block content
    h1(class="ml-2") List Users
    if errors
        each err in errors
            .alert.alert-danger= err
    form(action="/users/add" method="POST" class="form-inline")
        label(class="ml-2") Users
        input(type="text" name="name" class="form-control ml-2")
        button(class="btn btn-success ml-2") Add
    table.table
        tr
            th Name
        each user in users
            tr
                td=user.name
                td
                    a(href="/users/" + user.id +"/edit" class="btn btn-primary ml-2") Edit
                    a(href="/users/" + user.id +"/delete" class="btn btn-danger ml-2") Delete