extends ../layouts/main_layout
block content
    h1 Update Avatar
    .col-3
        form(action="/users/profileAvatarUpload" method="POST" enctype="multipart/form-data")
            .form-group
                label(for="avatar") Avatar
                input(type="file" name="avatar" class="form-control-file")
            button(class="btn btn-success") Submit