.box {
    display: flex;
    flex-wrap: wrap;/**nếu là nowrap thì khi resize browser lại các item con sẽ co lại(thay đổi kích thước),
     /**còn wrap thì nó sẽ rớt xuống(ko thay đổi kích thước)*/
    justify-content: space-around;
    align-items: stretch;/** mặc định là stretch, nếu height của item con là auto(1) thì nó sẽ dài ra theo chiều dài của thằng cha */
    width: 100%;
    background-color: #1a1c28;
    height: 1000px;
  }
  .item {
    /* width: 200px; */
    flex-basis: 200px;/**thằng này nó sẽ override lại width của item con, nếu hướng là row, còn height nếu hướng là column*/
    flex-shrink: 0;/**thằng này ngược lại 1 chút vs flex-grow, mặc định là 1(sẽ co lại khi resize trình duyệt), 0 sẽ ko co lại */
    height: auto;/**(1)*/
    flex-grow: 1;/**thằng này làm cho các item rộng ra sao cho lấp hết khoảng trống của thằng cha, nếu set riêng(2) thì thằng nào nhiều hơn sẽ to hơn*/
  }
  .item:nth-of-type(1) {
    background-color: #bf4470;
    flex-grow: 1;/**(2)*/
  }
  .item:nth-of-type(2) { 
    background-color: #ffa400; 
    height: 200px;/**set position riêng cho item con*/
    align-self: center;
    flex-grow: 5;/**(2)*/
    flex-shrink: 0;/**(3)ko co lại khi resize trình duyệt, lấy giá trị thuộc tính width*/
  }
  .item:nth-of-type(3) {
    background-color: #07a787;
    flex-grow: 1;/**(2)*/
  }