h1 List item
form(action="/todos/search", method="GET")
    label Search
    input(type="text" name="searchKey" value=searchKey)
    button Search
form(action="/todos/create" method="POST")
    label Item Name
    input(type="text" name="text")
    button Create
ul
    each item in items
        li
            span=item.text
            span &nbsp;
            a(href="/todos/" + item.id +"/delete") Delete
