.TodoList{
    display: flex;
    justify-content: center;
    height: 1080px;
    background-color: #DBF1F4;
}
.TodoList-wrap{
    width: 456px;
    height: 800px;
    background: rgb(80,192,205);
    background: linear-gradient(180deg, rgba(80,192,205,1) 0%, rgba(150,215,224,1) 60%);
    border-radius: 3px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 5px 18px 10px rgba(221,221,221,0.75);
    -moz-box-shadow: 0px 5px 18px 10px rgba(221,221,221,0.75);
    box-shadow: 0px 5px 18px 10px rgba(221,221,221,0.75);
    box-sizing: border-box;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 10;
    cursor: pointer;
}
.TodoList-content{
    padding: 5px;
    position: relative;
}
/* *header* */
.TodoList-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.signal,.signal-phone{
    display: flex;
}
.signal{
    width: calc(100% / 3);
}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 3px;
    align-self: center;
}
.time{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}
.time-text, .battery-text{
    color: #fff;
    font-size: 14px;
}
.battery{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% / 3);
}
/* *Body* */
.TodoList-body_wrap{
    padding: 12px;
    box-sizing: border-box;
}
.TodoList-body_wrap-head{
    display: flex;
    align-items: center;
}
.Dailist{
    letter-spacing: 6px;
    color: #fff;
    font-weight: 500;
}
.menu{
    display: flex;
    align-items: center;
    width: 39%;
}
.TodoList-body_wrap-newTodo{
    margin-top: 30px;
}
.newTodo{
    max-height: 335px;
    width: 100%;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgb(34, 152, 165);
}
.completedTodo{
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
}
.TodoList-body_wrap-todoDone{
    margin-top: 20px;
}
/* *footer* */
.TodoList-foot{
    display: flex;
    justify-content: center;
}
.TodoList-foot-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 20px 4px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 2px 20px 4px rgba(255,255,255,0.5);
    box-shadow: 0px 2px 20px 4px rgba(255,255,255,0.5);
    cursor: pointer;
}

.isEmpty{
    display: none;
}