html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="shortcut icon" type="image/png" href="/icons8-puzzle-64.png")
        //- link(rel="stylesheet" href="/custom.css")
    body
        .container
            block content