html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="shortcut icon" type="image/png" href="/icons8-puzzle-64.png")
        //- link(rel="stylesheet" href="/custom.css")
    body
        nav.navbar.navbar-expand.navbar-dark.bg-dark
            a.navbar-brand(href='/') #starryNight
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/books') Books
                    li.nav-item
                        a.nav-link(href='/users') Users
                    li.nav-item
                        a.nav-link(href='/transactions') Transactions
                    li.nav-item
                        a.nav-link(href='/products') Buy Books
            a.navbar-brand.mr-3(href='/cart/index')= 'Cart('+cart+')'
            if user
                span.navbar-brand= user.name
        .container
            block content