extends ../layouts/main_layout
block content
    h1 List Books
    .col-3
        form(action="/books/add" method="POST" enctype="multipart/form-data")
            .form-group
                label(for="title") Title
                input(type="text" name="title" class="form-control")
            .form-group
                label(for="description") Description
                input(type="text" name="description" class="form-control")
            .form-group
                label(for="bookImg") Book Image
                input(type="file" name="bookImg" class="form-control-file")
            button(class="btn btn-success") Add
    table.table
        tr
            th Image
            th Title
        each book in books
            tr
                td
                    img(src=book.bookImgUrl alt='Card image cap' width="64" height="64")
                td=book.title
                td
                    a(href="/books/" + book.id +"/edit" class="btn btn-primary ml-2") Edit
                    a(href="/books/" + book.id +"/delete" class="btn btn-danger ml-2") Delete
    
    .mt-4
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                if currentPage >= 4
                    li.page-item
                        a.page-link(href='/books?page='+(currentPage-1), tabindex='-1') Previous
                else
                    li.page-item.disabled
                        a.page-link(href='/books?page='+(currentPage-1), tabindex='-1') Previous
                each page in showPage
                    if currentPage===page
                        li.page-item.active
                            a.page-link(href='/books?page='+page)= page
                    else
                        li.page-item
                            a.page-link(href='/books?page='+page)= page
                    
                if (pageSize - currentPage) <= 2
                    li.page-item.disabled
                        a.page-link(href='/books?page='+(currentPage+1)) Next
                else
                    li.page-item
                        a.page-link(href='/books?page='+(currentPage+1)) Next
