extends ../layouts/main_layout
block content
    h1(class="ml-2") List Books
    form(action="/books/add" method="POST" class="form-inline")
        label(class="ml-2") Title
        input(type="text" name="title" class="form-control ml-2")
        label(class="ml-2") Description
        input(type="text" name="description" class="form-control ml-2")
        button(class="btn btn-success ml-2") Add
    ul(class="list-group")
        each book in books
            li(class="list-group-item")
                span=book.title
                a(href="/books/" + book.id +"/edit" class="btn btn-primary ml-2") Edit
                a(href="/books/" + book.id +"/delete" class="btn btn-danger ml-2") Delete
