.body{
    display: flex;
}
.container {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #ffa400, #e74c3c);
    height: auto;
    margin: auto;
    padding: 50px;
    display: grid;
    max-width: 1200px;
    grid-template-columns:repeat(5,20%);
    gap: 10px/**tạo khoảng cách giữa các item, gap: row column, row-gap, column-gap*/
}
.item {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid orange;
}