.header{
    display: flex;
    flex-direction: row;
}

.item{
    padding: 50px;
    background-color: #666;
    text-align: center;
    border: 1px solid #DDD;
    flex-grow: 1;
}

@media (max-width: 600px){/*min là >=, max là <=*/
    .header{
        flex-direction: column;
    }
}