extends ../layouts/main_layout
block content
    h1(class="ml-2") List Transactions
    form(action="/transactions/create" method="POST" class="form-inline")
        label(class="ml-2") Users
        select(name="userId" class="form-control ml-2")
            each user in users
                option(value=user.id)=user.name
        label(class="ml-2") Books
        select(name="bookId" class="form-control ml-2")
            each book in books
                option(value=book.id)=book.title
        button(class="btn btn-success ml-2") Create
    ul(class="list-group")
        each trans in transactions
            li(class="list-group-item")
                span(class="font-weight-bold") userId:
                span(class="ml-2")= trans.userId
                span(class="ml-5")
                span(class="font-weight-bold") bookId:
                span(class="ml-2")= trans.bookId
                a(href="/transactions/"+trans.id+"/complete" class="btn btn-primary ml-2") Complete