extends ../layouts/login_layout
block content
    div.d-flex.justify-content-center
        h1 Login
    div.d-flex.justify-content-center
        if errors
            each err in errors
                .alert.alert-danger(style="width: 35%")= err
    div.d-flex.justify-content-center
        form(action="/auth/login" method="POST" style="width: 35%")
            .form-group
                label Email
                input(type="text" name="email" class="form-control")
            .form-group
                label Password
                input(type="text" name="pwd" class="form-control")
            button(class="btn btn-success" style="width: 100%") Login
    div(style="width:35%; margin:0 auto").d-flex.justify-content-between
        a(href="/") <- Back
        a(href="/auth/register") Sign up
        
        
    //- form(action="/api/login" method="POST" class="form-inline")
    //-     label(class="ml-2") Email
    //-     input(type="text" name="email" class="form-control ml-2")
    //-     label(class="ml-2") Password
    //-     input(type="text" name="pwd" class="form-control ml-2")
    //-     button(class="btn btn-success ml-2") Login