extends ../layouts/login_layout
block content
    div.d-flex.justify-content-center
        h1 Sign Up
    div.d-flex.justify-content-center
        if errors
            each err in errors
                .alert.alert-danger(style="width: 35%")= err
    div.d-flex.justify-content-center
        form(action="/auth/login" method="POST" style="width: 35%")
            .form-group
                label Email
                input(type="text" name="email" class="form-control")
            .form-group
                label Password
                input(type="text" name="pwd" class="form-control")
            button(class="btn btn-success" style="width: 100%") Login
    div(style="width:35%; margin:0 auto").d-flex.justify-content-between
        a(href="/") <- Back
        a(href="#") Sign up
        